body{
    background-color: #101321;
}
.container{
    width:100%;
}
.card{
    
    width:40%;
    height:500px;
    background-color:aliceblue;
    padding:10px;
    margin: 40px auto;
}
.name{
    font-size:40px;
    text-align: center;
    color: #101321;
}
#display{
    width: 80px;
    height: 80px;
    background-color: #060606;
    margin: 60px auto;
    text-align: center;
    color: white;
    padding-top:10px ;
    font-size: 50px;
    border-radius: 50%;
}
.red{
    background-color:darkred !important;
}
.green{
    background-color:darkgreen !important;
}
#add{
    border-radius: 5px;
    background-color:black;
    padding: 10px;
    color: rebeccapurple;

    border: none;
    margin: 20px 0px;
}
#lower{
    border-radius: 5px;
    background-color:#101321;
    color: rebeccapurple;
    padding: 10px;

    border: none;
    margin: 20px 90px;
}
@media only screen and (min-width:100px) and (max-width:399px){
.card{
    
    width:80%;
    height:400px;
    background-color:aliceblue;
    padding:10px;
    margin: 40px auto;
}
.name{
    font-size:30px;
    text-align: center;
    color: #101321;
}
#display{
    width: 80px;
    height: 80px;
    background-color: #060606;
    margin: 60px auto;
    text-align: center;
    color: white;
    padding-top:10px ;
    font-size: 50px;
    border-radius: 50%;
}
.red{
    background-color:darkred !important;
}
.green{
    background-color:darkgreen !important;
}
#add{
    border-radius: 5px;
    background-color:#101321;
    padding: 10px;
    color: rebeccapurple;

    border: none;
    margin: 20px 0px;
}
#lower{
    border-radius: 5px;
    background-color:#101321;
    color: rebeccapurple;
    padding: 10px;

    border: none;
    margin: 20px 0px;
}
}
