body{
    margin:0px;
    padding:0px;
    font-family: 'Source Serif Pro', serif ;
    
}
.imageBg{
   width:100%;
   height:200px;
   
}
.header{
     width:100%;
     height:200px;
     margin:0px;
     padding: 0px;
     background-color: #1e98b0;
}

.mainContent{
    margin:30px auto;
}
.box{
    background-image: linear-gradient(to right,#e6faff,#74e8ff) !important;
}

.globalDiv{
    
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 4em;
    padding: 10px;
    height: 250px;
    /* background-color: transparent !important; */
   

    width: 65%;
    margin: 0px auto;
}
.globalDiv div{
    
    background-color: #021e39;
    border-radius: 15px;
    color: #25bcc5;
}
.CasesHeader1{
    color:#021e39;
}
.CasesHeader1 h2{
       text-align: center;
}
.CasesHeader1 h5{
    color:white;
    float: right;
    /* border: 2px solid white; */
    padding: 5px;
    background-color: #021e39;
    border-radius: 10px;
}
.Cases{
    font-size: 30px;
    margin-left: 30px; 
}
.casesBody{
    font-size: 50px;
    text-align: center;
    font-weight: 800;
  
    color: white;
    text-shadow: 3px 3px black,3px 3px black,3px 3px black,3px 3px black;
}
.removeBackground{
    padding:20px;
    margin:30px 0px;
    background-color: transparent !important;
}
.searchState{

    margin: 100px;
    padding: 5px;
    color: #021e39;
}
.searchHeader{
    
}
.searchState label{

    font-style: italic;
    font-weight: bold;
}
.searchState input{

    width: 85%;
    border-top: transparent;
    border-left: transparent;
    border-bottom: 1px solid #021e39;
    background: transparent;
    border-right: transparent;
}
.searchState button{
    
    padding: 5px;
    border: none;
    background-color: #021e39;
    color: cyan;
    width:100%;
}
.searchState button:hover{
    background-color: rebeccapurple;
}


.error{
    text-align: center;
    font-style: italic;
    color:red;
}
 /* loaders */
#loader {
    text-align: center;
    margin:30px auto;
    font-size:20px;
    font-weight: 600;
    letter-spacing: 10px;
    color:gold;
    text-shadow: 1px 1px black, 1px 1px black, 1px 1px black, 1px 1px black, 1px 1px black;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .dropbtn1 {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown1 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content1 {
    display: none;
  
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content1 li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid black;
  }
  
  .dropdown-content1 li:hover {background-color: #f1f1f1}
  
  .dropdown1:hover .dropdown-content1 {
    display: block;
  }
  
  .dropdown1:hover .dropbtn1 {
    background-color: black;
  }
@media only screen and (min-width:100px) and (max-width:450px){
     
    .globalDiv{
    
        display: block;
      width:65%;
        padding: 10px;
        height: 500px;
        /* background-color: transparent !important; */
    }
    .globalDiv div{
          margin:5px auto;
        background-color: #134779;
    }
    .mainContent{
    margin:50px auto;
}
.box{
    background-image: linear-gradient(to right,#e6faff,#74e8ff) !important;
}


.CasesHeader1{
    color:#021e39;
    padding:0px 5px;
}
.CasesHeader1 h2{
       text-align: center;
    font-size: 15px;
    margin:10px
}
.CasesHeader1 h5{
    color:white;
    float: right;
    /* border: 2px solid white; */
    padding: 4px;
    background-color: #021e39;
    border-radius: 10px;
    font-size: 15px;
    
}
.Cases{
    font-size: 15px;
    margin-left:3px; 
}
.casesBody{
    font-size: 25px;
    text-align: center;
    font-weight: 800;
  
    color: white;
    text-shadow: 3px 3px black,3px 3px black,3px 3px black,3px 3px black;
}
.removeBackground{
    width:101%;
    padding:20px;
    margin:10px 0px;
    background-color: transparent !important;
}
.searchState{

    margin: 0px auto;
    padding: 5px;
    color: #021e39;
    font-size: 15px !important;
}
.searchHeader h4{
    font-size: 17px
  
}
.searchState label{

    font-style: italic;
    font-weight: bold;
}
.searchState input{

    width: 70%;
    border-top: transparent;
    border-left: transparent;
    border-bottom: 1px solid #021e39;
    background: transparent;
    border-right: transparent;
}
.searchState button{
    border-radius: 5px;
    padding: 3px;
    border: none;
    background-color: #021e39;
    color: cyan;
}

}
